/* 
#fafafa- background color, #
#54b689-headings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: #fafafa;
  margin: 0px 10%;
}
h2 {
  font-size: 1.5rem;
  color: #54b689;
  margin-bottom: 10px;
}
h3 {
  font-size: 1rem;
  color: #54b689;
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 5px;
}
hr {
  margin: auto 4%;
  color: #54b689;
  background-color: #54b689;
}

p {
  width: 50%;
  line-height: 1.4;
  letter-spacing: 1.1;
}
li {
  margin-left: 30px;
  line-height: 1.5;
}
.container {
  margin: 20px 50px;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.title-container h1 {
  color: #54b689;
  padding-top: 15px;
  font-size: 2.5rem;
  letter-spacing: 1.2;
}
.title-container p {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
.title-container ul li {
  list-style: none;
  line-height: 1.5;
  font-size: 13px;
}
.fa-solid,
.fa-brands {
  margin-right: 10px;
}
.contact-info {
  border-left: 1px solid lightgrey;
  padding: 20px;
}

.experience1,
.experience2 {
  margin-bottom: 15px;
}

.skills-list {
  display: flex;
}
